.container {
  display: flex;
  width: 100%;
  height: 100%;  
  align-items: center;
  flex-direction: column;
}

#title {
  display: flex;
  width: 300px;
  height: 50px;
  background: linear-gradient(to right, #109fff, #ffad06);
  color: #070707;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  margin-top: 15px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.gameImages {
  width: 350px;
  height: 350px;  
  margin-top: 25px;
  border: 2px solid rgba(92, 20, 20, 0.582);
  justify-content: space-between;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 25px;
}

#buttons {
  display: flex;  
  grid-template-columns: 1fr 1fr;  
  gap: 45px;
}

.buttons {    
  width: 125px;
  margin-top: 40px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.747);
  color:white;
  border-radius: 5%;
}

.scoreResults {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  font-size: 18px;
  font-weight: bold;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;  
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;  
}

.scoreDivs {
  width: 80px;
  height: 50px;
  margin-bottom: 10px;  
  border: 2px solid black;
}

#playerScore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgreen;
}

#computerScore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightsalmon;
}
